In [1]:
Carbon_Monoxide = []
Nitrogen_Dioxide = []
Methane = []
Ozone = []
Data_Labels = []
Gas_Types = []

%store -r Carbon_Monoxide
%store -r Nitrogen_Dioxide
%store -r Methane
%store -r Ozone
%store -r Data_Labels
%store -r Gas_Types

In [2]:
#!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\steph\anaconda3\anaconda3.9\lib\site-packages (2.9.3)

In [2]:
## this uses the postgre_tunnel python script to connect to PostgreSQL instead
## define script output parameters as blank to avoid undefined variable errors
tunnel = () # tunnel variable named in script
conn = () # Postgres connection variable named in script
curs = () # Postgres cursor variable named in script
%run -i "../SSH_Connect/Postgre_Tunnel.py"

Tunnel connected
PostgreDB connected

In [3]:
database = 'carbon_emit' # lower case naming only for PostgreSQL DBs
try:
    curs.execute("""CREATE DATABASE """+database) # Create a new database, will fail if it already exists
    print ("New database created: "+database)
except:
    print ("Database already exists: "+database)

Database already exists: carbon_emit

In [4]:
curs.execute("""SELECT datname FROM pg_database;""") # select all the database names
for datname in curs.fetchall(): # print the database names
    print(datname)

('postgres',)
('template1',)
('template0',)
('power_gen',)
('usweather',)
('carbon_emit',)

In [5]:
import sqlalchemy as sa

engine = sa.create_engine("postgresql://azureuser:azureuser@127.0.0.1:"+str(tunnel.local_bind_port)+"/"+database) #start an sqlalchemy engine

In [6]:
for table in Gas_Types:
    if sa.inspect(engine).has_table(table)==False:
        vars()[table].to_sql(table, engine) # write each dataframe to the database as a table
        print ("Table created: "+table)
    else:
        print ("Table already exists: "+table)

Table created: Ozone
Table created: Methane
Table created: Carbon_Monoxide
Table created: Nitrogen_Dioxide

In [8]:
connection = engine.connect()
metadata = sa.MetaData()

In [15]:
# NOT NEEDED
# Add primary key column to each table

#metadata = sa.MetaData()
#for table in Gas_Types:
#    Table_Select = sa.Table(table, metadata, autoload=True, autoload_with=engine)
#    query = sa.select([Table_Select])
#    query = "ALTER TABLE public.\""+str(Table_Select)+"\" ADD COLUMN id SERIAL PRIMARY KEY;"
#    connection.execute(query)

In [9]:
# Check for duplicates in the DateTime column
query = ("""SELECT "DateTime", COUNT("DateTime")
            FROM public."Carbon_Monoxide"
            GROUP BY "DateTime", "State"
            HAVING COUNT("DateTime") > 1
            ORDER BY COUNT("DateTime");""")
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()
ResultSet
# No duplicates found

[]

In [ ]:
# UNNECCESSARY AS THEY'RE ALREADY DATETIME OBJECTS/TIMESTAMPS
# Convert the DateTime column in each table to a datetime object

metadata = sa.MetaData()
for table in Data_Labels:
    Table_Select = sa.Table(table, metadata, autoload=True, autoload_with=engine)
    query = sa.select([Table_Select])
    query = "ALTER TABLE public.\""+str(Table_Select)+"\" ALTER COLUMN \"DateTime\" TYPE TIMESTAMP using to_timestamp(\"DateTime\", 'YYYYMMDD\"T\"HH24\"Z\"')"
    connection.execute(query)

In [11]:
# Check for duplicates in the DateTime column
for table in Gas_Types:
    Table_Select = sa.Table(table, metadata, autoload=True, autoload_with=engine)
    query = ("""SELECT "DateTime", COUNT("DateTime")
                FROM public.\""""+str(Table_Select)+"""\"
                GROUP BY "DateTime", "State"
                HAVING COUNT("DateTime") > 1
                ORDER BY COUNT("DateTime");""")
    ResultProxy = connection.execute(query)
    ResultSet = ResultProxy.fetchall()
    print(ResultSet)
# No duplicates found

[]
[]
[]
[]

In [12]:
#query from a table searching for date
query = ('SELECT * FROM public."Carbon_Monoxide" WHERE "State" = \'Hawaii\' AND "DateTime" BETWEEN \'2019-05-18 00:00:00\' AND \'2019-05-18 23:59:59\';')
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()
ResultSet

[(datetime.datetime(2019, 5, 18, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(seconds=3600))), 'Hawaii', 0.033688824623823166, 1, 0.033688824623823166, 0.033688824623823166, None)]

In [13]:
tunnel.close() # close the tunnel